html {
  background-color: gainsboro;
}

a {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}

a:hover {
  color: slategray;
}

a > img {
  text-shadow: none;
  background-image: none;
}
