html {
  background-color: gainsboro;
}

a {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}

a:hover {
  color: slategray;
}

a > img {
  text-shadow: none;
  background-image: none;
}

/**
 * from: https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: hsla(0, 0%, 0%, 0.8);
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}
